#board {
    display: grid;
    width: 600px;
    background-color: whitesmoke;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#board .field {
    height: 200px;
    /* background-color: aqua; */
    border: black solid 1px;
}
#board .field[data-sign="x"]{
    background-color: yellow;
}
#board .field[data-sign="o"]{
    background-color: green;
}