<div id="menu">
  <div class="names">
    <div class="container">
      <label for="player1-name">Player 1's name - X</label>
      <input type="text" name="player-name" id="player1-name" data-player="0"/>
    </div>
    <div class="container">
      <label for="player2-name">Player 2's name - O</label>
      <input type="text" name="player-name" id="player2-name" data-player="1"/>
    </div>
  </div>
  <div class="options">
    <input type="button" value="Start" class="start-button" />
  </div>
</div>
